
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="grid w-[500px] h-[500px] absolute top-[%50%] bg-red-500 left-[50%]" id="space">
    <div id="circle" class="w-[10px] h-[10px] bg-blue-500 absolute hidden rounded-full"></div>
    <div id="square" class="w-[10px] h-[10px] bg-green-500 absolute top-0 left-0"></div>
  </div>
  <div style="display: flex; height: 100%; flex-direction: column">
    <div style="flex-grow: 1; display: flex; justify-content: space-between;">
      <ul id="messages" style="flex-grow: 1; list-style-type: none"></ul>
    </div>


    <form id="message-form">
      <input type="text" name="message" minlength="1" />
      <button type="submit">Send</button>
    </form>
  </div>


  <script src="https://cdn.tailwindcss.com"></script>

<script type="text/javascript">

  const createMessage = (type, payload) => {
    return JSON.stringify({
      type: type,
      payload: payload
    })
  }

  const moveMessage = (x,y,movement) => {
    return createMessage("move", {x, y, movement})
  }

  const clickMessage = (x,y) => {
    return createMessage("click", {x, y})
  }

  const messageInformantion = (message) => {
    return createMessage("message", {
      message: message
    })
  }
  const clickCordinates = (message) =>{
    const objectMessage = JSON.parse(message);
    return {
      x: objectMessage.x,
      y: objectMessage.y
    }
  }
  const typeOfMessage = (message) => {
    return JSON.parse(message).type
  }
  document.addEventListener('DOMContentLoaded', () => {
    const $circle = document.querySelector("#circle");
    const $square = document.querySelector("#square");
    const ws = new WebSocket(`ws://${location.host}/ws`);

    ws.addEventListener('message', function (event) {
      const data = JSON.parse(event.data)

      const {type, payload} = data


      switch(type) {
        case "click":
          $circle.style.left = `${payload.x}px`;
          $circle.style.top = `${payload.y}px`;
          $circle.classList.remove("hidden");
          break;
        case "move":
          $square.style.left = `${payload.x}px`;
          $square.style.top = `${payload.y}px`;
          break;
        case "message":
          const li = document.createElement("li");
          li.appendChild(document.createTextNode(payload.message));
          document.getElementById("messages").appendChild(li);
        }



    })

    const $space = document.querySelector("#space");

    $space.addEventListener('click', (event) => {
      ws.send(clickMessage(event.offsetX, event.offsetY))
    })


    document.addEventListener('keydown', (event) => {
      switch (event.key) {
        case "ArrowUp":
          ws.send(moveMessage($square.offsetLeft, $square.offsetTop, "up"))
          break;
        case "ArrowDown":
          ws.send(moveMessage($square.offsetLeft, $square.offsetTop, "down"))
          break;
        case "ArrowLeft":
          ws.send(moveMessage($square.offsetLeft, $square.offsetTop, "left"))
          break;
        case "ArrowRight":
          ws.send(moveMessage($square.offsetLeft, $square.offsetTop, "right"))
          break;
      }
    })

    const $messageForm = document.querySelector("#message-form");
    $messageForm.addEventListener('submit', (event) => {
      event.preventDefault();
      event.stopPropagation();
      const message = (new FormData(event.target)).get("message");
      if (message) {
        ws.send(messageInformantion(message));
      }
      event.target.reset();
      return false;
    })
  }
  )
</script>
</body>
</html>

