<script type="text/javascript">
  const ws = new WebSocket(`ws://${location.host}/ws`);

  ws.addEventListener('message', function (event) {
    const li = document.createElement("li");
    li.appendChild(document.createTextNode(event.data));
    document.getElementById("messages").appendChild(li);
  });

  function send(event) {
    const message = (new FormData(event.target)).get("message");
    if (message) {
      ws.send(message);
    }
    event.target.reset();
    return false;
  }
  function sendClick(event) {
    ws.send("click");
  }
</script>

<div style="display: flex; height: 100%; flex-direction: column">
  <div style="flex-grow: 1; display: flex; justify-content: space-between;">
    <ul id="messages" style="flex-grow: 1; list-style-type: none"></ul>
    <div>
      <button onclick="return sendClick(event)">click me</button>
    </div>
  </div>


  <form onsubmit="return send(event)">
    <input type="text" name="message" minlength="1" />
    <button type="submit">Send</button>
  </form>
</div>